<HTML>
<body>
<HEAD>
<font color="Black">
<H1><CENTER>ERASMUS</CENTER></H1>
</font>
<link href="{{ asset('bundles/cosmapag/css/style.css') }}" rel="stylesheet" />
</HEAD>
<BODY>
<font>
</BR></BR>
<LI><B>Student</B> Cosma Popa Ana Maria</LI></BR>

<LI><B>“1 DECEMBRIE 1918” UNIVERSITY OF ALBA IULIA was set up as a public higher education and research institution founded pursuant to the Romanian Government Decision no. 474/09.07.1991. Its name is related to the historical moment (1918) when the union of the three Romanian provinces was accomplished in Alba Iulia. In 2009, following the institutional assessment carried out by the Executive Bureau of the Romanian Agency for Quality Assurance in Higher Education – ARACIS, “1 Decembrie 1918” University of Alba Iulia was awarded a HIGH CONFIDENCE RATING, the highest qualification for Romanian universities.</B>
<LI><B>Our university consists of 4 faculties (7 teaching departments), 17 research centres and 7 administrative centres.</B>Categoria B</LI></BR>
<LI><B>
THE FACULTY OF HISTORY AND PHILOLOGY brings together the undergraduate academic programmes in Humanities of our University. The Faculty of History and Philology consists of two large departments: the Department of History, Archaeology and Museology, and the Department of Philology.
</LI></BR>
</FONT>
</BODY>
</HTML>
